.footer {
    width: 100%;
    height: 350px;
    background-color: #0a0908;
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    color: black;
    font-family: "Tinos", serif;

}

.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    background: white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3 ease-out;
    ;
    overflow: hidden;


}

.wrapper .button:hover {
    width: 200px;

}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;

}

.wrapper .button:nth-child(1):hover .icon {
    background: #E1306C;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #0077B5;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #0077B5;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
}

.wrapper .button span {
    font: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

#msg {
    color: #eae0d5;
   
   margin-top: 80px;
    padding: 20px;
  
margin-left: -700px;

}

@media (min-width: 767px) and (max-width: 1024px) {

    h3 {
        font-size: 20px;
    }

    .footer {

        display: flex;
        padding: 30px;

    }

    .sub-footer {

        padding-left: 50px;

    }

    .wrapper {
        display: flex;
        flex-direction: row;
    }

}
@media (min-width: 412px) and (max-width: 580px) {
    .footer {
        height: auto;
        padding: 50px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer p, .footer span {
        font-size: 14px; 
    }

    .wrapper .button {
        height: 45px;
        width: 45px;
        margin: 5px;
    }

    .wrapper .button:hover {
        width: 150px;
    }

    .wrapper .button .icon {
        height: 45px;
        width: 45px;
        line-height: 45px;
        font-size: 20px;
    }

    .wrapper .button span {
        font-size: 16px;
        line-height: 45px;
    }

   
    h3{
        font-size: 20px;
    }
    #msg {
        color: #eae0d5;
       font-size: 8px;
       margin-top: 80px;
        padding: 20px;
      
    margin-left: 30px;
    
    }
    small{
        font-size: 8px;
    }
}