.auther{
    width: 100%;
    height: 800px;
    background-color:#f4f4f9;
    padding-top: 50px;

}
.sub-auther{
    position: absolute;
    width: 25%;
    height: 550px;
    /* background-color: #fca311; */
    /* background: linear-gradient(45deg,#fca311, #14213d); */
    /* background: linear-gradient(to right, #000000, #14213d); */
    background: linear-gradient(to bottom, #000000, #f4f4f9);

   margin-top: 70px;
   left: 560px;
   padding: 15px;
   border-radius: 10px;
   border-style:groove;
   box-shadow: 0 0 60px #0a0908; 
            overflow: hidden; 
   z-index: 1;
   border-color:#0a0908;
}
h2{
    font-family: "Tinos", serif;
    text-align: center;
    color:#f4f4f9;
 
}
h6{
    font-family: "Tinos", serif;
    text-align: center;
    color:#0a0908;  
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='submit']
{
    position: relative;
    width: 300px;
    height: 15px;
    padding: 20px;
   margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 1px;
  background-color: #f4f4f9;
 
  color: #0a0908;
 

}
.button{
    position: absolute;
    /* margin-left: 50px;
    padding: 8px 98px; */
    padding: 10px;
    margin-left: 30px;
    width: 300px;
    background-color: #0a0908;
    color: #f4f4f9;
}
.button:hover{
    background-color: #f4f4f9 ;
    color:#0a0908 ;
}
.toggle{
    margin-top: 90px;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    color:#0a0908;
    font-size: 1.15rem;
  margin-left: -15px;
}

.error{
    color: red;
   padding-left: 100px;

}
.emailExistMessage{
    color: red;
}
@media (min-width:  768px) and (max-width: 1028px) {
    .sub-auther{
        position: absolute;
        width: 45%;
        height: 400px;
      
       margin-top: 70px;
       left: 220px;
       padding: 15px;
      
    }

.toggle{
    margin-top: 50px;
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='submit']
{
   
   margin-left: 30px;
 
}
.button{
    position: absolute;
    margin-left: 30px;
    padding: 8px 98px;
   
}
}
@media only screen and (max-width: 600px) {
  
    .auther{
        width: 100%;
        height: 800px;
        background-color:#f4f4f9;
     padding: 50px;
    
    }
    .sub-auther{
        position: absolute;
        width: 90%;
        height: 550px;
        /* background-color: #fca311; */
        /* background: linear-gradient(45deg,#fca311, #14213d); */
        /* background: linear-gradient(to right, #000000, #14213d); */
        background: linear-gradient(to bottom, #000000, #f4f4f9);
    
       margin-top: 70px;
       left: 10px;
       padding: 20px 0px;
       border-radius: 10px;
       border-style:groove;
       box-shadow: 0 0 60px #0a0908; 
                overflow: hidden; 
       z-index: 1;
       border-color:#0a0908;
    }
    h2{
        font-family: "Tinos", serif;
        text-align: center;
        color:#f4f4f9;
     
    }
    h6{
        font-family: "Tinos", serif;
        text-align: center;
        color:#0a0908;  
    }
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='submit']
    {
        position: relative;
        width: 250px;
        height: 15px;
        padding: 20px;
       margin-left: 25px;
      margin-bottom: 30px;
      border-radius: 1px;
      background-color: #f4f4f9;
   
      color: #0a0908;
     
    
    }
    .button{
        position: absolute;
        /* margin-left: 50px;
        padding: 8px 98px; */
        padding: 10px;
        margin-left: 25px;
        width: 250px;
        background-color: #0a0908;
        color: #f4f4f9;
    }
    .button:hover{
        background-color: #f4f4f9 ;
        color:#0a0908 ;
    }
    .toggle{
        margin-top: 90px;
        padding: 10px 20px;
        background-color: transparent;
        border: none;
        color:#0a0908;
        font-size: 1.15rem;
      margin-left: -15px;
    }
}