
img {
    position: relative;
    top: -5px; 
    left: 60px; 
    width: 400px;
    height: auto;
   border-radius: 50%;
   object-fit:cover;
  }
  .hero{
    display: flex;
    flex-direction: row;
   
   padding:60px 200px;
   /* background: linear-gradient(85deg, #caa8f5, #9984d4, #592e83); */
   background-color:#f4f4f9;

   height: auto; 
  
  }

  #sub-hero{
    color: black;
    font-weight: 400;
    font-family: "Tinos", serif;   
     margin-top: 120px;
   
  }

  .sub-class{
    flex: 1;
   
  }
  #button{
    background: black;
    padding: 10px 40px;
    color:#f4f4f9;
  }
  #button:hover{
    background-color:#586f7c;
    color:#f4f4f9;
    font-size: large;
    font-weight: 600;
    width: 200px;
  }
  @media (min-width:  768px) and (max-width: 1028px) {
    img {
      position: relative;
      top: -5px; 
      left: 10px; 
      width: 400px;
      height: auto;
     border-radius: 50%;
     object-fit:cover;
    }
    .hero{
      display: flex;
      flex-direction: column;
     
     padding:60px 200px;
     /* background: linear-gradient(85deg, #caa8f5, #9984d4, #592e83); */
     background-color:#f4f4f9;
  
     height: auto; 
    
    }
  
    #sub-hero{
     
      font-weight: 400;
     
       margin-top: 120px;
     
    }
}
@media only screen and (max-width: 600px) {
  .hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    padding-top: 15px;
    height: auto;
 
  }

  img {
    position: relative;
    top: 10px;
    left: 3;
    width: 100%; 
    max-width: 250px; 
    height: auto;
    border-radius: 50%; 
    object-fit: cover;
  }
  .sub-class{
    flex:none;

  }
#sub-hero{
 
  font-size: 20px;
  font-weight: 400;
 padding:20px 30px;
 text-align: start;
 margin-top: -5px;
 word-spacing: 0.0rem;
}

p{
  margin-left: 30px;
}
#button{
 
  padding: 10px 20px;

  margin-left: 30px;
}



}